./.RData
./.DS_Store
./*.html
./.DS_Store
./*/.DS_Store
./*.html
./*/*.html
./.Rhistory
./*/.Rhistory
./second_part/Cgodm_selection_BMC.nb.html
./second_part/Selection_Scripts.nb.html
./firts_part/Scripts_Paper.nb.html
./supplementary/Selection_Scripts.html
./supplementary/Annotation_Scripts.html
./.DS_Store
./second_part/.DS_Store
./pictures/.DS_Store
./supplementary/.DS_Store
./scripts/.DS_Store
./data/.DS_Store
./second_part/.Rhistory
./firts_part/.Rhistory
./scripts/.Rhistory
./scripts/RScripts/.Rhistory
./second_part/.RData
.RData
.Rhistory
